%% -*- mode: nitrogen -*-
{erl_opts,[debug_info]}.
{deps,[
    {cowboy,".*",
        {git,"git://github.com/ninenines/cowboy", {tag,"1.0.1"}}},
    {simple_bridge,".*",
        {git,"git://github.com/nitrogen/simple_bridge", {branch,master}}},
    {nprocreg,".*",
        {git,"git://github.com/nitrogen/nprocreg", {branch,master}}},
    {nitrogen_core,".*",
        {git,"git://github.com/nitrogen/nitrogen_core", {branch,master}}},
    {sync,".*",
        {git,"git://github.com/rustyio/sync", {branch,master}}}
]}.

{relx, [
    {release, {subdomain, "0.0.1"}, [subdomain]},
    {sys_config, "etc/sys.config"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.
